/* Стили применяемые только на странице для неавторизированных пользователей*/
    /* menu_left ПОДГОНКА*/
    #button1 {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 37px;
        width: 300px;
    }
    #button2 {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 37px;
        width: 300px;
    }
    /* menu_right  ПОДГОНКА но позиционированием*/
    #mright1 {
        position: relative;
        height: 17px;
    }
    #mright1 div {
        position: absolute;
        left: 33%;
    }
    /* menu_right (форма авторизации)ПОДГОНКА но позиционированием*/
    .mright2 {
        position: relative;
        height: 25px;
    }
    .mright3 {
        position: absolute;
        left: 8%;
        top: 12%
    }
    .mright4 {
        position: absolute;
        right: 7%;
        top: 11%
    }
    #mright5 {
        position: absolute;
        left: 8%;
        top: 11%
    }
    #mright6 {
        position: absolute;
        left: 18%;
        top: 8%
    }
    #mright7 {
        position: absolute;
        right: 18%;
        top: 8%
    }
    /* menu_right (форма регистрации) ПОДГОНКА но позиционированием*/
    #mright8 {
        position: relative;
        height: 17px;
    }
    #mright8 div {
        position: absolute;
        left: 24%;
    }
    .mright10 {
        position: absolute;
        left: 3%;
        top: 12%
    }
    .mright11 {
        position: absolute;
        right: 3%;
        top: 11%
    }
    #mright12 {
        position: absolute;
        left: 14%;
        top: 8%
    }




/* 1st div*//*
#sign_in_on_ver_menu {
    background: #3A6EA5;
    position: relative;
    height: 20px;
}*/
/* Sign in div horizont block plus pictures*//*
#sign_in {
    height: 18px;
    width: 250px;
    position: absolute;
    right: 0px;
}
#sign_in div div {
    float: left;
    border: none;
}
#sign_in1 {
    background: url(img/sign_in.png) no-repeat;
    height: 16px;
    width: 75px;
    border: none;
}
#sign_in2 {
    background: url(img/sign_in.png) no-repeat;
    height: 16px;
    width: 80px;
    border: none;
}
#sign_in1 a {
    padding: 0px 0px 0px 20px;
}
#sign_in2 a {
    padding: 0px 0px 0px 20px;
}
*/